{
     "branches": "integration",
     "repositoryUrl": "https://github.com/Lucas-Desouza/semver-springboot",
     "debug": "true",
     "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "./updateVersion.sh ${nextRelease.version}",
                "publish": "echo \"RAN THE PUBLISH SCRIPT\"",
                "success": "echo \"RAN THE SUCCESS SCRIPT\"",
                "fail": "echo \"RAN THE FAIL SCRIPT\"",
                "prepare": "echo \"RAN THE PREPARE SCRIPT\""
            }
        ]
    ]
}