{
     "branches": "integration",
     "repositoryUrl": "https://github.com/Lucas-Desouza/semver-springboot",
     "debug": "true",
     "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "./updateVersion.sh ${nextRelease.version}"
            }
        ]
    ]
}